@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-family-outfit: "Outfit", sans-serif;
  
  /* Primary Vibrant Indigo */
  --color-primary: #4f46e5;    
  /* Deep Navy/Black for Premium feel */
  --color-secondary: #020617;  
  /* Soft Rose/Pink for Highlights */
  --color-accent: #f43f5e;     
  --color-neutral: #1e293b;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4f46e5;    
  --color-secondary: #020617;    
  --color-accent: #f43f5e;      
  --primary-content: #ffffff; 
  /* Light Gray background for better card contrast */
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;   
  --color-base-300: #f1f5f9;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6366f1;
  --color-base-100: #020617;   
  --color-base-200: #0b1120;
  --color-base-content: #f1f5f9; 
}

body {
  font-family: var(--font-family-outfit);
  /* smooth contrast and anti-aliasing */
  @apply bg-base-200 text-slate-900 antialiased tracking-tight; 
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}