@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-family-outfit: "Outfit", sans-serif;
  
  
  --color-primary: #6366f1;    
  --color-secondary: #0f172a;  
  --color-accent: #10b981;     
  --color-neutral: #1e293b;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6366f1;     
  --color-secondary: #0f172a;    
  --color-accent: #10b981;      
  --primary-content: #ffffff; 
  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;   
  --color-base-300: #e2e8f0;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #818cf8;
  --color-base-100: #020617;   
  --color-base-200: #0f172a;
  --color-base-content: #f8fafc; 
}

body {
  font-family: var(--font-family-outfit);
  @apply bg-base-200 text-slate-800 antialiased; 
}