@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4f46e5;    
  --color-secondary: #020617;    
  --color-accent: #f43f5e;      
  --primary-content: #ffffff; 
  --color-base-100: #ffffff; 
  --color-base-200: #f8fafc;   
  --color-base-300: #f1f5f9;
  --color-base-content: #020617; 
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6366f1;
  --color-base-100: #020617;   
  --color-base-content: #f1f5f9; 
}