@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-family-outfit: "Outfit", sans-serif;
  --color-primary: #4f46e5;    
  --color-secondary: #020617;  
  --color-accent: #f43f5e;     
  --color-neutral: #1e293b;
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --p: 79 70 229; 
  --s: 2 6 23;   
  --a: 244 63 94; 
  --b1: 255 255 255;
  --b2: 248 250 252;
  --bc: 2 6 23;
}

@plugin "daisyui/theme" {
  name: "dark";
  --p: 99 102 241;
  --b1: 2 6 23;
  --bc: 241 245 249;
}

@layer base {
  body {
    font-family: var(--font-family-outfit);
    @apply bg-base-200 text-slate-900 antialiased tracking-tight;
  }
}


input, textarea, select {
  @apply bg-white text-secondary border-slate-200;
}