@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0061FF;     
  --color-secondary: #1E293B;    
  --color-accent: #00D1FF;      
  --color-base-100: #FFFFFF;
  --color-base-200: #F8FAFC;   
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #3b82f6;
  --color-base-100: #0f172a; 
  --color-base-content: #f8fafc; 
}

body {
  font-family: "Outfit", sans-serif;
  @apply bg-base-200 text-base-content; 
}